- if @posts.each.any?
  - @posts.each do |post|
    = link_to post.title, post_path(post)
    = link_to "Edit #{post.title}", edit_post_path(post)
    = link_to "Delete #{post.title}", post_path(post), method: :delete
    = link_to "Comment on #{post.title}", new_post_comment_path(post)
- else
  %h1 no posts added

%a(href="/posts/new") create a post
